<% mcArray = [24, 25, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 45, 46, 47, 48, 49, 50, 51, 52, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 71, 73, 75, 78, 80] %>

<% writingArray = [] %>
<% writingArray[0] = [ 200, 200, 210, 220, 230, 240, 260, 280, 300, 320, 330, 350, 370 ]%>
<% writingArray[1] = [ 200, 200, 220, 240, 250, 260, 280, 290, 310, 330, 350, 370, 380 ]%>
<% writingArray[2] = [ 220, 220, 240, 250, 260, 270, 290, 310, 330, 350, 360, 380, 400 ]%>
<% writingArray[3] = [ 230, 230, 250, 260, 280, 290, 300, 320, 340, 360, 380, 390, 410 ]%>
<% writingArray[4] = [ 240, 240, 260, 270, 290, 300, 310, 330, 350, 370, 390, 400, 420 ]%>
<% writingArray[5] = [ 250, 250, 270, 280, 300, 310, 320, 340, 360, 380, 400, 420, 430 ]%>
<% writingArray[6] = [ 260, 260, 280, 290, 310, 320, 330, 350, 370, 390, 410, 420, 440 ]%>
<% writingArray[7] = [ 270, 270, 290, 300, 320, 330, 340, 360, 380, 400, 420, 430, 450 ]%>
<% writingArray[8] = [ 280, 280, 300, 310, 320, 330, 350, 370, 390, 410, 420, 440, 460 ]%>
<% writingArray[9] = [ 290, 290, 310, 320, 330, 340, 360, 370, 390, 420, 430, 450, 460 ]%>
<% writingArray[10] = [ 300, 300, 310, 330, 340, 350, 370, 380, 400, 420, 440, 460, 470 ]%>
<% writingArray[11] = [ 300, 300, 320, 340, 350, 360, 370, 390, 410, 430, 450, 470, 480 ]%>
<% writingArray[12] = [ 310, 310, 330, 340, 360, 370, 380, 400, 420, 440, 460, 470, 490 ]%>
<% writingArray[13] = [ 320, 320, 340, 350, 360, 370, 390, 410, 430, 450, 460, 480, 500 ]%>
<% writingArray[14] = [ 330, 330, 340, 360, 370, 380, 400, 410, 430, 450, 470, 490, 500 ]%>
<% writingArray[15] = [ 330, 330, 350, 370, 380, 390, 400, 420, 440, 460, 480, 500, 510 ]%>
<% writingArray[16] = [ 340, 340, 360, 370, 390, 400, 410, 430, 450, 470, 490, 500, 520 ]%>
<% writingArray[17] = [ 350, 350, 370, 380, 390, 400, 420, 430, 460, 480, 490, 510, 520 ]%>
<% writingArray[18] = [ 360, 360, 370, 390, 400, 410, 430, 440, 460, 480, 500, 520, 530 ]%>
<% writingArray[19] = [ 360, 360, 380, 400, 410, 420, 430, 450, 470, 490, 510, 530, 540 ]%>
<% writingArray[20] = [ 370, 370, 390, 400, 420, 430, 440, 460, 480, 500, 510, 530, 550 ]%>
<% writingArray[21] = [ 380, 380, 400, 410, 420, 430, 450, 460, 480, 510, 520, 540, 550 ]%>
<% writingArray[22] = [ 380, 380, 400, 420, 430, 440, 460, 470, 490, 510, 530, 550, 560 ]%>
<% writingArray[23] = [ 390, 390, 410, 420, 440, 450, 460, 480, 500, 520, 540, 550, 570 ]%>
<% writingArray[24] = [ 400, 400, 420, 430, 440, 450, 470, 490, 510, 530, 540, 560, 580 ]%>
<% writingArray[25] = [ 410, 410, 420, 440, 450, 460, 480, 490, 510, 530, 550, 570, 580 ]%>
<% writingArray[26] = [ 410, 410, 430, 450, 460, 470, 480, 500, 520, 540, 560, 580, 590 ]%>
<% writingArray[27] = [ 420, 420, 440, 450, 470, 480, 490, 510, 530, 550, 570, 580, 600 ]%>
<% writingArray[28] = [ 430, 430, 450, 460, 470, 480, 500, 510, 540, 560, 570, 590, 600 ]%>
<% writingArray[29] = [ 440, 440, 450, 470, 480, 490, 510, 520, 540, 560, 580, 600, 610 ]%>
<% writingArray[30] = [ 440, 440, 460, 480, 490, 500, 510, 530, 550, 570, 590, 610, 620 ]%>
<% writingArray[31] = [ 450, 450, 470, 480, 500, 510, 520, 540, 560, 580, 590, 610, 630 ]%>
<% writingArray[32] = [ 460, 460, 480, 490, 500, 510, 530, 540, 560, 590, 600, 620, 630 ]%>
<% writingArray[33] = [ 460, 460, 480, 500, 510, 520, 540, 550, 570, 590, 610, 630, 640 ]%>
<% writingArray[34] = [ 470, 470, 490, 500, 520, 530, 540, 560, 580, 600, 620, 640, 650 ]%>
<% writingArray[35] = [ 480, 480, 500, 510, 530, 540, 550, 570, 590, 610, 630, 640, 660 ]%>
<% writingArray[36] = [ 490, 490, 510, 520, 530, 540, 560, 580, 600, 620, 630, 650, 670 ]%>
<% writingArray[37] = [ 500, 500, 510, 530, 540, 550, 570, 580, 600, 630, 640, 660, 670 ]%>
<% writingArray[38] = [ 510, 510, 520, 540, 550, 560, 580, 590, 610, 630, 650, 670, 680 ]%>
<% writingArray[39] = [ 510, 510, 530, 550, 560, 570, 590, 600, 620, 640, 660, 680, 690 ]%>
<% writingArray[40] = [ 520, 520, 540, 560, 570, 580, 590, 610, 630, 650, 670, 690, 700 ]%>
<% writingArray[41] = [ 530, 530, 550, 570, 580, 590, 600, 620, 640, 660, 680, 700, 710 ]%>
<% writingArray[42] = [ 540, 540, 560, 580, 590, 600, 620, 630, 650, 670, 690, 710, 720 ]%>
<% writingArray[43] = [ 560, 560, 570, 590, 600, 610, 630, 640, 660, 680, 700, 720, 730 ]%>
<% writingArray[44] = [ 570, 570, 590, 600, 610, 620, 640, 660, 680, 700, 710, 730, 750 ]%>
<% writingArray[45] = [ 580, 580, 600, 610, 630, 640, 650, 670, 690, 710, 730, 750, 760 ]%>
<% writingArray[46] = [ 600, 600, 620, 630, 640, 650, 670, 680, 710, 730, 740, 760, 770 ]%>
<% writingArray[47] = [ 620, 620, 630, 650, 660, 670, 690, 700, 720, 750, 760, 780, 790 ]%>
<% writingArray[48] = [ 640, 640, 660, 670, 690, 700, 710, 730, 750, 770, 790, 800, 800 ]%>
<% writingArray[49] = [ 680, 680, 700, 710, 730, 740, 750, 770, 790, 800, 800, 800, 800 ]%>

<% score = @scores.last %>
<% score.writing = writingArray[mcArray.index(score.mc)][score.essay] %>
<p><%= "Reading: #{score.reading}" %></p>
<p><%= "Math: #{score.math}" %></p>
<p><%= "Writing: #{score.writing} (Essay: #{score.essay}, MC: #{score.mc})"%></p>
<p><%= "Composite: #{score.reading + score.math + score.writing}"%>
